/* Estilos gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c9c9c9;
    margin: 0;
    padding: 0;
}

.warning {
    font-weight: bold;
    text-align: center;
    color: red;
}

.profile {
    text-align: center;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile h2 {
    margin-bottom: 10px;
}

.profile p {
    margin-bottom: 20px;
}

.tasks-button {
    top: 20px;
    left: 20px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.date {
    margin: 30px;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="month"],
input[type="date"],
input[type="number"],
textarea,
select,
button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="month"],
input[type="date"],
input[type="number"],
textarea,
select {
    background-color: #f2f2f2;
    color: #333;
}


button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="radio"] {
    margin-bottom: 20px;
}

p {
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}

a:hover {
    text-decoration: underline;
}

.tasks-button:hover {
    text-decoration: none;
    background-color: #0056b3;

}


/* Estilo para listas */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 3px rgba(1, 0, 0, 0.2);
}

ul li.ativo:hover {
    background-color: #a6ff9a;
}

ul li.inativo:hover {
    background-color: #ff9a9a;
}

ul li h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

ul li p {
    margin: 5px 0;
    color: #666;
}

ul li strong {
    color: #333;
}

ul ul {
    padding-left: 20px;
}

ul ul li {
    background-color: rgb(179, 190, 186);
}

ul ul li:hover {
    background-color: white;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.ramo{
    border: 1px solid black;
}
